body { body { font: 0.75rem sans-serif, system-ui; background-color: #FFFFFF; margin-top: 0; margin-bottom: 0; } }
.aws_bodyl { background-image: url(/awstatsicons/other/backleft.png); background-repeat: repeat-y; }
.aws_border { border-collapse: collapse; background-color: #CCCCDD; padding: 1px 1px 1px 1px; margin-top: 0 }
.aws_title  { font-size: 0.9rem; background-color: #CCCCDD; text-align: center; margin-top: 0; margin-bottom: 0; padding: 1px 1px 1px 1px; color: #$color_TableTitle; }
.aws_blank { font-size: 0.9rem; background-color: #FFFFFF; text-align: center; margin-bottom: 0; padding: 1px 1px 1px 1px; }
.aws_data {
	background-color: #FFFFFF;
	border-top-width: 1px;   
	border-left-width: 0px;  
	border-right-width: 0px; 
	border-bottom-width: 0px;
}
.aws_button {
	border: 1px solid #ccd7e0;
	background-image : url($DirIcons/other/button.gif);
}
th		{ border-color: #ECECEC; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 1px; padding: 1px 2px 1px 1px; text-align:center; color: #000000; }
th.aws	{ border-color: #ECECEC; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 1px; padding: 1px 2px 1px 1px; font-size: 0.9rem; }
td		{ border-color: #ECECEC; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 1px; text-align:center; color: #000000; }
td.aws	{ border-color: #ECECEC; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 1px; text-align:$dir; color: #000000; padding: 0px;}
td.awsm	{ border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; text-align:$dir; color: #000000; padding: 0px; }
a:link    { color: #0011BB; text-decoration: none; }
a:visited { color: #0011BB; text-decoration: none; }
a:hover   { color: #0011BB; text-decoration: underline; }
b, .aws_title, th.aws{ font-weight: 700; }
.currentday{ font-weight: 900; }
.bar{  }
.bar-horizontal{ height: 4px; }
.bar-vertical{ display: inline-block; width: 4px; }
.color-u{ background-color: #FFAA66; }
.color-v{ background-color: #F4F090; }
.color-p{ background-color: #4477DD; }
.color-h{ background-color: #66DDEE; }
.color-k{ background-color: #2EA495; }
.color-e{ background-color: #CEC2E8; }
.color-x{ background-color: #C1B2E2; }
.color-s{ background-color: #8888DD; }
.clock{ height: 12px; width: 12px; margin: auto; background: conic-gradient(black 330deg, yellow 30deg); border-radius: 50%; }
.hr-1{ rotate: 30deg; }
.hr-2{ rotate: 60deg; }
.hr-3{ rotate: 90deg; }
.hr-4{ rotate: 120deg; }
.hr-5{ rotate: 150deg; }
.hr-6{ rotate: 180deg; }
.hr-7{ rotate: 210deg; }
.hr-8{ rotate: 240deg; }
.hr-9{ rotate: 270deg; }
.hr-10{ rotate: 300deg; }
.hr-11{ rotate: 330deg; }
.ctooltip { position:absolute; top:0px; left:0px; z-index:2; width:380; visibility:hidden; font: 8pt MS Comic Sans,arial,sans-serif; background-color: #FFFFE6; padding: 8px; border: 1px solid black; }