BODY { font: 11px verdana, arial, helvetica, sans-serif; background-color: #FFFFFF; margin-top: 0 }
.AWS_BORDER { background-color: #CCCCDD; padding: 1px 1px 1px 1px; margin-top: 0 }
.AWS_TITLE  { font: 13px verdana, arial, helvetica, sans-serif; font-weight: bold; background-color: #CCCCDD; text-align: center; margin-bottom: 0; padding: 1px 1px 1px 1px; }
.AWS_BLANK { font: 13px verdana, arial, helvetica, sans-serif; background-color: #FFFFFF; text-align: center; margin-bottom: 0; padding: 1px 1px 1px 1px; }
.AWS_DATA { background-color: #FFFFFF; }
.AWS_FORMFIELD { font: 13px verdana, arial, helvetica; }
.AWS_BUTTON {
	font-family: arial,verdana,helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #ccd7e0;
	background-image : url(/icon/other/button.gif);
}
TH { font: 11px verdana, arial, helvetica, sans-serif; text-align:center; color: #000000; }
TH.AWS { font-size: 13px; font-weight: bold; }
TD { font: 11px verdana, arial, helvetica, sans-serif; text-align:center; color: #000000; }
.AWS { font: 11px verdana, arial, helvetica, sans-serif; text-align:left; color: #000000; }
B { font-weight: bold; }
A { font: 11px verdana, arial, helvetica, sans-serif; }
A:link    { color: #0011BB; text-decoration: none; }
A:visited { color: #0011BB; text-decoration: none; }
A:hover   { color: #605040; text-decoration: underline; }
DIV { font: 12px arial,verdana,helvetica; text-align:justify; }
.CTooltip { position:absolute; top:0px; left:0px; z-index:2; width:380; visibility:hidden; font: 8pt MS Comic Sans,arial,sans-serif; background-color: #FFFFE6; padding: 8px; border: 1px solid black; }